{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-{{ lesson.id }}">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#lesson-{{ lesson.id }}" aria-expanded="false" aria-controls="lesson-{{ lesson.id }}">
        {{ lesson.subject }}
        - {{ lesson.get_weekday_display }}
        {% trans 'from' %}: {{ lesson.time_starting }}
        {% trans 'until' %}: {{ lesson.time_ending }}
        - {{ lesson.seats_available }} {% trans 'of' %}
          {{ lesson.max_attendance }}
          {% trans 'seats left' %}
      </a>
    </h4>
  </div>
  <div id="lesson-{{ lesson.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ lesson.id }}">
    <div class="panel-body">
      {% if lesson.description %}
      <h5>{% trans 'Description' %}</h5>
      <p>{{ lesson.description }}</p>
      {% else %}
      <p><i>{% trans 'No Description...' %}</i></p>
      {% endif %}

      {% if lesson.students.count %}
      <h5>{% trans 'Attendees' %}</h5>
      <ul>
        {% for student in lesson.students.all %}
          {% include "_lesson_attendee.html" with attendee=student %}
        {% endfor %}
      </ul>
      {% else %}
      <p><i>{% trans 'Be the first to sign up...' %}</i></p>
      {%  endif %}

      {% include "_new_student_modal.html" with lesson=lesson form=form %}
    </div>
    <div class="panel-footer">
      {% if lesson.cancelled %}
      <button type="button" class="btn btn-secondary btn-lg">
        {% trans 'Cancelled' %}
      </button>
      {% else %}{% if lesson.seats_available %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-student-{{ lesson.id }}">
        {% trans 'Attend Lesson' %}
      </button>
      {% else %}
      <button type="button" class="btn btn-secondary btn-lg">
        {% trans 'Lesson is full' %}
      </button>
      {% endif %}{% endif %}
    </div>
  </div>
</div>
